.Switch {
    width: 90px;
    height: 30px;
    border-radius: 7px;
    background: #3ea83f;
    border: 2px solid #dddddd;
    .handle {
        float: left;
        width: 24px;
        height: 24px;
        background: #ffffff;
        border-radius: 7px;
        margin: 3px;
    }
    &--disabled {
        @extend .Switch;
        background: #eeeeee;
        opacity: 0.9;
        .handle {
            float: right;
        }
    }
}